apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-zwwlyvlu
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-zwwlyvlu:2ee96e082f898286bb48587fc6396d37fbac14e1@sha256:16026eb6b581cbe0889ea2a767837da00048174d6b93792503978bfbdd18b5b9
        name: container-image  
