apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-zwwlyvlu
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-zwwlyvlu:cc2470aa3d9094ab6e279a6f1a185606d35c3190@sha256:42afc7af9026059ee996b61d5d3bd481f5d1b4639758160840c579497291448d
          name: container-image
